<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetmeup">

    <application
        android:name=".MeetMeUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity
            android:name=".SignupActivity"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".GroupCreateActivity"
            android:label="Create New Group"
            android:parentActivityName=".MyGroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyGroupsActivity"/>
        </activity>


        <activity android:name=".CreateNewActivity" />
        <activity android:name=".CreateFrame" />
        <activity android:name=".ActivityFrame" />


        <activity
            android:name=".MySchedule"
            android:label="My Schedule"
            android:parentActivityName=".MyAccount">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAccount"/>
        </activity>


        <activity
            android:name=".MyAccount"
            android:label="My Account"/>


        <activity
            android:name=".ScheduleEdit"
            android:label="Edit Schedule"
            android:parentActivityName=".MySchedule">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MySchedule"/>
        </activity>


        <activity
            android:name=".MyGroupsActivity"
            android:label="My Groups"
            android:parentActivityName=".MyAccount"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyAccount"/>
        </activity>


    </application>

</manifest>